<title>{{ .Title }}</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{- partial "siteicon.html" . -}}

<meta name="description" content="{{ .Site.Params.description }}" />

{{- partial "dcmetatags.html" . -}}

{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "sass/main.scss" | toCSS $options | minify }}

<link rel="stylesheet" href="css/critical.css" media="screen">

<link rel="preload" href="{{ $style.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</noscript>

{{- partial "ga-tag.html" . -}}

<link rel="preload" as="image" href="{{ .Site.Params.logo }}">